%p#notice= notice
%h1= t('tasks.tasks')
%table
  %thead
    %tr
      %th= t('name.name')
      %th= t('description.description')
      %th= t('due_date.due_date')
      %th= t('category.category')
      %th{:colspan => "3"}
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= task.description
        %td= task.due_date
        %td= task.category_id
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to t('new_task.new_task'), new_task_path
